/*
This is a separate CSS file which is different from the other site.css
 */
/* Navigation bar */
body {
    margin:0;
    background: linear-gradient(#eecda3, #ef629f);
    height:1150px;
}
ul.navBar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #111;
    position: fixed;
    top: 0;
    width: 100%;
}
li.navBar {
    float:left;
}
li.navBar a.navBar {
    display: block;
    color: white;
    text-align: center;
    padding: 12px 24px;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}
li.navBar a:hover:not(.current) {
    background-color: #333;
}
.current {
    background-color: deeppink;
}
/*Title-achievements page */
.intro {
    font-family:'Open Sans', sans-serif;
    background:linear-gradient(#06beb6, #48b1bf);
    text-align:center;
}
h1 {
    font-size:45px;
    margin:27px;
}
h2 {
    font-size:35px;
    margin:20px;
    position:relative;
    bottom:20px;
}
/* Content-achievements page */
p {
    margin-left: 15px;
    font-family: 'Raleway', sans-serif;
    padding-right: 10em;
    font-size: 20px;
}
/* Table-achievements page */
#achievements {
    font-family:'Open Sans', sans-serif;
    border-collapse: collapse;
    width:100%;
}
#achievements td, #achievements th {
    border:1px solid #111;
    padding:8px;
}
#achievements tr:hover {
    background-color: #ccddff;
}
#achievements th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #3377ff;
    color: white;
}
